Railway.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Railway">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="BookingAndPayments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="trainno" type="xs:unsignedShort" />
              <xs:element name="seatno" type="xs:unsignedByte" />
              <xs:element name="passengername" type="xs:string" />
              <xs:element name="source" type="xs:string" />
              <xs:element name="destination" type="xs:string" />
              <xs:element name="bookingstatus" type="xs:string" />
              <xs:element name="stationCode" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 